.container{
  font-family: monospace;
}

.container {
  background-color: #f8d030;
  width: 300px;
  min-height: 400px;
  padding: 20px;

}

.title {
  text-align: center;
  font-size: x-large;
}

.input {
  padding: 5px;
  word-wrap: break-word;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.button {
  width: 100%;
  height: 40px;
  font-family: monospace;
  background-color: white;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

.button:hover {
  background-color: #f2f2f2;
}

.checkbox-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

.check {
  width: 20px;
  height: 20px;

}

.label {
  font-size: large;
  font-weight: bold;
}

.slider-container {
  display: flex;
  justify-content: space-between;
}

.password {
  font-size: large;
}